service: api-nexo

provider:
  name: aws
  runtime: nodejs20.x
  region: sa-east-1
  stage: ${opt:stage, 'dev'} # default = dev
  timeout: 30
  environment:
    AMBIENTE: ${self:provider.stage}
    RESPONSE_ERROR: ${env:RESPONSE_ERROR}
    URL_API_IVS: ${env:URL_API_IVS}
    USER_PASS_PEPPER: ${env:USER_PASS_PEPPER}
    JWT_SECRET: ${env:JWT_SECRET}
    DB_HOST: ${env:DB_HOST}
    DB_PORT: ${env:DB_PORT}
    DB_NAME: ${env:DB_NAME}
    DB_USER: ${env:DB_USER}
    DB_PASS: ${env:DB_PASS}
    DB_CA_CERT_B64: ${env:DB_CA_CERT_B64}
  iam:
    role:
      statements:
        - Effect: Allow
          Action:
            - ivs:CreateChannel
            - ivs:DeleteChannel
          Resource: "*"

functions:
  api:
    handler: src/handler.handler
    events:
      - httpApi: '*'

plugins:
  - serverless-offline

custom:
  dotenv:
    path: .env.${self:provider.stage}
