$mobile-width: 400px;
$mobile-width-1: 401px;

.nav {
    
    background-color: var(--primario);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.119);
    
    .conteudo {
        padding: 0 var(--body-padding);
        max-width: var(--body-max-width);
        margin: auto;
        height: var(--navbar-height);
        width: 100%;
        color: white;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.opcoes-tela-grande {
    display: flex;
    gap: 5px;
    align-items: center;
}

@media (max-width: $mobile-width) {
    .opcoes-tela-grande {
        display: none;
    }
}

.botao-menu {
    --cor: white;
    --color: var(--cor);
}

@media (min-width: $mobile-width-1) {
    .botao-menu {
        display: none;
    }
}

.inicial {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    min-width: 40px;
    min-height: 40px;
    max-width: 40px;
    max-height: 40px;
    background-color: white;
    border-radius: 40px;
    border: none;
    outline: none;
    font-size: 20pt;
    
    color: rgba(0, 0, 0, 0.7);
}

// MENU =========================================
.menu:popover-open {
    opacity: 100%;
    translate: 0;
}
.menu {
    position: absolute;
    inset: unset;
    top: var(--navbar-height);
    right: max(0px, calc(50% - var(--body-max-width) / 2));
    
    border: none;
    margin: 10px;
    border-radius: 20px;
    padding: 0;
    box-shadow: -2px 2px 10px 4px rgba(0, 0, 0, 0.199);
    width: 300px;
    max-width: calc(100vw - 20px);

    opacity: 0%;
    translate: 5% 0;
    
    transition: 
        opacity 0.25s, 
        translate 0.25s,
        display 0.25s allow-discrete, 
        overlay 0.25s allow-discrete;
}
@starting-style {
    .menu:popover-open {
        opacity: 0%;
        translate: 5% 0;
    }    
}

.menu {
    > div {
        display: flex;
        flex-direction: column;
        > header {
            color: white;
            > .info {
                .nome {
                    font-size: 14pt;
                    font-weight: 400;
                }
                display: flex;
                flex-direction: column;
                gap: 5px;
            }
            display: flex;
            align-items: center;
            gap: 20px;
            background-color: var(--primario);
            padding: 10px 20px;
        }
        > div {
            ul {
                padding: 0;
            }
            li {
                padding: 0.8333em 1.6666em;
                list-style: none;
                font-size: 1.183em;
                cursor: pointer;
                transition: all 0.25s;
                color: rgb(53, 53, 53);
            }
            li:hover {
                color: var(--primario);
                background-color: hsl(from var(--primario) h s l / 0.1);
            }
        }
    }
}

.menu-seletor-idioma {
    > select {
        outline: none;
        border: none;
        padding: 0;
        box-shadow: none;
        background-color: transparent;
        width: 100%;
        height: 100%;
        color: rgb(53, 53, 53);
    }
}
@media (min-width: $mobile-width-1) {
    .menu.nao-logado {
        display: none;
    }
    .menu-seletor-idioma {
        display: none;
    }
}