.atuadores > div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    gap: 10px;
    height: 100%;
    width: 100%;
}

.slider {
    width: 100%;
}